@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
}

p,
h3,
h2,
h1 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  /* outline: 2px solid gold; */
  width: 480px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
@media (min-width: 1200px) {
  .section-title {
    font-size: 36px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .header-container {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.navigation-logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media (min-width: 768px) {
  .navigation-logo {
    margin-right: 88px;
  }
}
@media (min-width: 1200px) {
  .navigation-logo {
    margin-right: 93px;
  }
}
.navigation-text {
  color: #000000;
}
.navigation-list {
  display: none;
}
@media (min-width: 768px) {
  .navigation-list {
    display: flex;
  }
}
@media (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
}
.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  padding: 32px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #2196f3;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover, .header-link:focus {
  cursor: pointer;
  color: #2196f3;
}
.header-link:focus::after, .header-link:hover::after {
  opacity: 1;
}

.navigation-current {
  color: #2196f3;
}
.navigation-current::after {
  opacity: 1;
}

.contacts {
  display: none;
}
@media (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .contacts {
    flex-direction: row;
  }
}

.contacts {
  margin-left: auto;
  margin-right: 0;
  align-items: flex-start;
}
@media (min-width: 1200px) {
  .contacts {
    align-items: flex-end;
  }
}
.contacts-item {
  display: flex;
  align-items: center;
}
.contacts-icon {
  margin-right: 8px;
  fill: currentColor;
}
.contacts-link {
  color: #757575;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover, .contacts-link:focus {
  cursor: pointer;
  color: #2196f3;
}

@media (min-width: 768px) {
  .mail {
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .mail {
    margin-left: auto;
    margin-right: 50px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media (min-width: 1200px) {
  .tel {
    margin-right: 0;
    margin-left: 0;
    font-size: 14px;
    line-height: 1.14;
  }
}

.header-menu {
  border: none;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu:hover, .header-menu:focus {
  color: #2196f3;
}
@media (min-width: 768px) {
  .header-menu {
    display: none;
  }
}

/* нижнее подчеркивание хедера в портфолио */
.header-line {
  border-bottom: 1px solid #ececec;
}

.header-modal {
  display: flex;
  flex-direction: column;
  border: solid 1px red;
  padding-left: 40px;
}

.menu-close {
  width: 40px;
  height: 40px;
  align-self: flex-end;
  background-color: #ffffff;
  border: none;
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 8px;
}
.menu-close:hover, .menu-close:focus {
  color: #2196f3;
}

.mobile-list {
  display: flex;
  flex-direction: column;
}
.mobile-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-contacts {
  display: flex;
  flex-direction: column;
  margin-top: 302px;
}
.mobile-current {
  color: #2196f3;
}

.link-mobile {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-top: 32px;
}
.link-mobile-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-social {
  display: flex;
  margin-top: 64px;
  margin-bottom: 48px;
  margin-right: 83px;
}
.mobile-social-item:not(:last-child) {
  margin-right: 20px;
}
.mobile-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.hero {
  background-color: #c4c4c4;
  color: #ffffff;
}
.hero-bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero-mob/Header_img.jpg);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-bg-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero-mob/Header_img@2x.jpg);
  }
}
@media (min-width: 768px) {
  .hero-bg-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero-tab/Header_img.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-bg-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero-tab/Header_img@2x.jpg);
  }
}
@media (min-width: 1200px) {
  .hero-bg-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero-dsktp/Img.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-bg-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero-dsktp/Img@2x.jpg);
  }
}
.hero-container {
  text-align: center;
  padding: 118px 60px;
}
@media (min-width: 768px) {
  .hero-container {
    padding: 118px 204px;
  }
}
@media (min-width: 1200px) {
  .hero-container {
    padding: 200px 252px;
  }
}
.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  background-color: #2196f3;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* модальное окно с формами */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  width: 450px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal-close {
  margin-top: 8px;
  margin-right: 8px;
  margin-left: auto;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover, .modal-close:focus {
  color: #2196f3;
}
.modal-title {
  text-align: center;
  margin-top: 2px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  margin-right: 40px;
  margin-left: 40px;
}
.modal-form {
  width: 370px;
  margin-top: 12px;
}
@media (min-width: 1200px) {
  .modal-form {
    width: 448px;
    margin-top: 10px;
  }
}
.modal-form .item:not(:last-child) {
  margin-bottom: 10px;
}
.modal-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input {
  display: block;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-link {
  color: #2196f3;
  text-decoration: underline;
}
.modal-button {
  margin-top: 30px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.modal-button-text {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 55px;
}

.item:focus-within .modal-input,
.item:focus-within .modal-icon,
.item:hover .modal-input,
.item:hover .modal-icon {
  cursor: pointer;
  border-color: #2196f3;
  fill: #2196f3;
}

.form-name {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.icon-position {
  position: relative;
  margin-top: 4px;
}

.textarea {
  display: block;
  padding: 11px 16px;
  resize: none;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea::placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.checkbox-btn .form-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
@media (min-width: 1200px) {
  .checkbox-btn .form-name {
    font-size: 14px;
  }
}

.checkbox:checked + .ghost-icon::before {
  background-image: url(../images/icons/checkbox-check.svg);
}

.ghost-icon::before {
  content: "";
  display: inline-flex;
  margin-right: 8.38px;
  background-image: url(../images/icons/checkbox.svg);
  width: 16px;
  height: 15px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* особенности */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 0;
  }
}
.features-title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .features-title {
    text-align: start;
  }
}
.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .features-item {
    width: 354px;
  }
  .features-item:not(:nth-child(2n-1)) {
    margin-left: 30px;
  }
}
@media (max-width: 767px) {
  .features-item:not(:first-child) {
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  .features-item {
    width: 270px;
  }
  .features-item:not(:last-child) {
    margin-right: 30px;
  }
  .features-item:not(:nth-child(2n-1)) {
    margin-left: unset;
  }
}
.features-item::before {
  content: "";
  display: inline-block;
  background-color: #f5f4fa;
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 70px 70px;
}
@media (min-width: 768px) {
  .features-item::before {
    width: 354px;
  }
}
@media (min-width: 1200px) {
  .features-item::before {
    width: 270px;
  }
}

.features-list .antena::before {
  background-image: url("../images/icons/antena.svg");
}
.features-list .clock::before {
  background-image: url("../images/icons/clock.svg");
}
.features-list .diagram::before {
  background-image: url("../images/icons/diagram.svg");
}
.features-list .astronaut::before {
  background-image: url("../images/icons/astronaut.svg");
}
@media (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
}

/* чем мы занимаемся */
.occupation {
  padding-top: 94px;
  padding-bottom: 94px;
}
.occupation-list {
  display: flex;
  margin-top: 50px;
}
.occupation-item {
  position: relative;
  width: 370px;
}
.occupation-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.occupation-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}
.occupation-item:not(:last-child) {
  margin-right: 30px;
}
@media (max-width: 1199px) {
  .occupation {
    display: none;
  }
}

/* наша команда */
.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media (min-width: 768px) {
  .team-main-title {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .team-main-title {
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .team-item {
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  .team-item {
    padding-bottom: 30px;
  }
}
.team-title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  margin-top: 30px;
  height: 19px;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
  height: 19px;
}

.social {
  display: flex;
  justify-content: center;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: currentColor;
}
.social-link:hover, .social-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/* постоянные клиенты */
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients-title {
  margin-bottom: 30px;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
@media (min-width: 1200px) {
  .clients-list {
    flex-wrap: nowrap;
  }
}
.clients-item {
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}
.clients-link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 90px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  fill: currentColor;
}
.clients-link:hover, .clients-link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

/* подвал */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .footer-container {
    flex-direction: row;
    align-items: baseline;
  }
}
.footer-logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
@media (min-width: 1200px) {
  .footer-logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.f-studio {
  color: #ffffff;
}

.tablet-position {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .tablet-position {
    flex-direction: row;
    align-items: baseline;
  }
}

.adress {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .adress {
    align-items: flex-start;
  }
}
.adress-item {
  height: 21px;
}
.adress-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .adress-box {
    margin-right: 165px;
  }
}
@media (min-width: 1200px) {
  .adress-box {
    align-items: flex-start;
    margin-right: 70px;
  }
}
.adress-item:not(:first-child) {
  margin-top: 8px;
}
.adress-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.links {
  margin-top: 60px;
}
@media (min-width: 768px) {
  .links {
    margin-top: 0;
  }
}
.links-text {
  text-transform: uppercase;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
}
@media (min-width: 1200px) {
  .links-text {
    text-align: start;
  }
}
.links-list {
  display: flex;
  margin-top: 20px;
}
.links-item:not(:last-child) {
  margin-right: 10px;
}
.links-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links-icon {
  fill: currentColor;
}
.links-link:hover, .links-link:focus {
  background-color: #2196f3;
}

.spam {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
@media (min-width: 1200px) {
  .spam {
    flex-direction: row;
    align-items: flex-end;
    margin-right: 0;
    margin-left: auto;
    margin-top: 0;
  }
}
.spam-position {
  width: 450px;
}
@media (min-width: 1200px) {
  .spam-position {
    width: 358px;
    margin-right: 12px;
  }
}
.spam-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .spam-label {
    align-items: flex-start;
  }
}
.spam-input {
  padding-left: 16px;
  height: 50px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-top: 20px;
  background-color: transparent;
  color: #ffffff;
}
.spam-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.spam-container {
  display: flex;
  margin-top: 20px;
}
.spam-button {
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 10px 29px;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  align-self: flex-end;
}
.spam-button .text {
  display: block;
  text-transform: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.spam-icon {
  fill: currentColor;
  margin-left: 10px;
}

/* кнопки портфолио */
.filter {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .filter {
    justify-content: center;
    padding-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .filter {
    padding-bottom: 50px;
  }
}
.filter-button {
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  margin-bottom: 15px;
  text-align: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .filter-button {
    margin-bottom: 0;
  }
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter .current, .filter-button:hover, .filter-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* портфолио */
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  margin-top: -30px;
}
@media (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}
.portfolio-item {
  text-align: left;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .portfolio-item {
    margin-right: 30px;
    width: 354px;
  }
}
@media (min-width: 1200px) {
  .portfolio-item {
    flex-basis: calc(100% / 3 - 30px);
  }
}
.portfolio-image {
  position: relative;
  overflow: hidden;
}
.portfolio-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: left;
}
.portfolio-overlay {
  position: absolute;
  display: flex;
  width: 100%;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  padding-right: 24px;
  padding-left: 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
}
.portfolio-description {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .portfolio-description {
    height: 146px;
  }
}
.portfolio-title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-index {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  margin-top: 4px;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:focus .portfolio-overlay, .portfolio-link:hover .portfolio-overlay {
  transform: translateY(-100%);
}
.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}/*# sourceMappingURL=main.css.map */