/* постоянные клиенты */

.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: $width-desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &-title {
    margin-bottom: 30px;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;

    @media (min-width: $width-desktop) {
      flex-wrap: nowrap;
    }
  }

  &-item {
    display: flex;

    margin-left: 30px;
    margin-top: 30px;

    flex-basis: calc(100% / 3 - 30px);
  }

  &-link {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 100%;
    height: 90px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #afb1b8;
    transition: all $animation-duration $animation-type;
  }

  &-icon {
    fill: currentColor;
  }

  &-link:hover,
  &-link:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}
