/* особенности */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.features {
  padding-top: 60px;

  @media (min-width: $width-desktop) {
    padding-top: 94px;
  }

  &-title {
    color: $secondary-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: $width-tablet) {
      text-align: start;
    }
  }

  &-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 10px;
  }
}

.features-item {
  @media (min-width: $width-tablet) {
    width: 354px;

    &:not(:nth-child(2n-1)) {
      margin-left: 30px;
    }
  }

  @media (max-width: ($width-tablet)-1px) {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  @media (min-width: $width-desktop) {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }

    &:not(:nth-child(2n-1)) {
      margin-left: unset;
    }
  }

  &::before {
    content: '';
    display: inline-block;
    background-color: #f5f4fa;
    width: 450px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 70px 70px;

    @media (min-width: $width-tablet) {
      width: 354px;
    }

    @media (min-width: $width-desktop) {
      width: 270px;
    }
  }
}

.features-list {
  .antena::before {
    background-image: url('../images/icons/antena.svg');
  }

  .clock::before {
    background-image: url('../images/icons/clock.svg');
  }

  .diagram::before {
    background-image: url('../images/icons/diagram.svg');
  }

  .astronaut::before {
    background-image: url('../images/icons/astronaut.svg');
  }

  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}
