/* кнопки портфолио */

.filter {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding-bottom: 15px;

  @media (min-width: $width-tablet) {
    justify-content: center;
    padding-bottom: 30px;
  }

  @media (min-width: $width-desktop) {
    padding-bottom: 50px;
  }

  &-button {
    background-color: #f5f4fa;
    color: $secondary-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;

    text-align: center;

    transition: all $animation-duration $animation-type;

    @media (min-width: $width-tablet) {
      margin-bottom: 0;
    }
  }

  &-item:not(:last-child) {
    margin-right: 8px;
  }

  .current,
  &-button:hover,
  &-button:focus {
    background-color: $accent-color;
    color: $white-text-color;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}
