.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.navigation {
  &-logo {
    color: #2196f3;
    font-family: $sec-font-family;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }

  &-text {
    color: #000000;
  }

  &-list {
    display: none;
  }
}

.contacts {
  display: none;
}

.header-menu {
  border: none;
  background-color: $main-bg-color;
  transition: color $animation-duration $animation-type;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
