/* модальное окно с формами */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity $animation-duration $animation-type;
}

.modal {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;

  width: 450px;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: $main-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media (min-width: $width-desktop) {
    width: 528px;
  }

  &-close {
    margin-top: 8px;
    margin-right: 8px;
    margin-left: auto;
    cursor: pointer;

    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $main-bg-color;

    transition: color $animation-duration $animation-type;
  }

  &-close:hover,
  &-close:focus {
    color: $accent-color;
  }

  &-title {
    text-align: center;
    margin-top: 2px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    margin-right: 40px;
    margin-left: 40px;
  }

  &-form {
    width: 370px;
    margin-top: 12px;

    @media (min-width: $width-desktop) {
      width: 448px;
      margin-top: 10px;
    }
  }

  &-form .item:not(:last-child) {
    margin-bottom: 10px;
  }

  &-icon {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);

    transition: fill $animation-duration $animation-type;
  }

  &-input {
    display: block;

    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 42px;

    transition: border $animation-duration $animation-type;
  }

  &-link {
    color: $accent-color;
    text-decoration: underline;
  }

  &-button {
    margin-top: 30px;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
  }

  &-button-text {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: $white-text-color;
    padding: 10px 55px;
  }
}

.item:focus-within .modal-input,
.item:focus-within .modal-icon,
.item:hover .modal-input,
.item:hover .modal-icon {
  cursor: pointer;
  border-color: $accent-color;
  fill: $accent-color;
}

.form-name {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $main-text-color;
}

.icon-position {
  position: relative;
  margin-top: 4px;
}

.textarea {
  display: block;
  padding: 11px 16px;
  resize: none;
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &::placeholder {
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.checkbox-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  .form-name {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: $main-text-color;

    @media (min-width: $width-desktop) {
      font-size: 14px;
    }
  }
}

.checkbox:checked + .ghost-icon::before {
  background-image: url(../images/icons/checkbox-check.svg);
}

.ghost-icon::before {
  content: '';
  display: inline-flex;
  margin-right: 8.38px;
  background-image: url(../images/icons/checkbox.svg);
  width: 16px;
  height: 15px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
