/* чем мы занимаемся */
.occupation {
  padding-top: 94px;
  padding-bottom: 94px;

  &-list {
    display: flex;
    margin-top: 50px;
  }

  &-item {
    position: relative;
    width: 370px;
  }

  &-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-text-color;
  }

  &-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
  }

  &-item:not(:last-child) {
    margin-right: 30px;
  }

  @media (max-width: ($width-desktop)-1px) {
    display: none;
  }
}
