body {
  background-color: $main-bg-color;
  color: $main-text-color;
  font-family: $main-font-family;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
}

p,
h3,
h2 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  /* outline: 2px solid gold; */
  width: $width-mobile;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: $width-tablet) {
    width: $width-tablet;
  }
  @media (min-width: $width-desktop) {
    width: $width-desktop;
  }
}

.section-title {
  color: $secondary-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
