$width-mobile: 480px;
$width-tablet: 768px;
$width-desktop: 1200px;

$main-text-color: #757575;
$secondary-text-color: #212121;
$white-text-color: #ffffff;
$accent-color: #2196f3;
$main-bg-color: #ffffff;

$animation-duration: 250ms;
$animation-type: cubic-bezier(0.4, 0, 0.2, 1);

$main-font-family: 'Roboto', sans-serif;
$sec-font-family: 'Raleway', sans-serif;
